name: Deploy Flutter Web Demo

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: '3.35.4' 

      - name: Enable web
        run: flutter config --enable-web

      - name: Get packages
        run: flutter pub get
        
      - name: Build web
        working-directory: example
        run: flutter build web --release

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: example/build/web
